<div id="header">
    <img src="../../../../assets/images/ktcb.png" alt="ktcb" title = "ktcb" id="headerImage">
</div>
<div class="flex-container" *ngIf="camps">
    <ng-container *ngFor="let camp of camps">
        <div class="card" *ngIf="(camp.capacity - camp.members) > 0">
            <img src="../../../../assets/images/RookieFriday.png" alt="Rookie Friday" title = "Rookie Friday">
            <h2>{{camp.title}}</h2>
            <span>plaatsen vrij: <i class="freeSpots">{{camp.capacity - camp.members}}</i></span>
            <span>Tijd: <i class="time">{{camp.startTime | slice:0:5}} - {{camp.endTime | slice:0:5}}</i></span>
            <span>Datum: <i class="date">{{camp.date}}</i></span>
            <button (click)="navigateToCampRegistration(camp.id)">Reserveer</button>
        </div>
    </ng-container>
</div>