
@import url('https://fonts.googleapis.com/css?family=Dosis');
h1, h2, p, span {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    text-align:center;
    font-size: 1.5rem;
    color: rgb(178, 19, 18);
}
#header {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
   
}
#headerImage {
    margin:auto;
    width: 13vw;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 43vw;
    animation: moveIn 2s;
}
.flex-container {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    width:80vw;
    margin:auto;
    justify-content: space-evenly;
}

.card {
    color: grey;
    border: 1px solid grey;
    width: 13vw;
    height: 30vh;
    position: relative;
    animation: fadeIn 1s;
    border:none;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;

    img {
        width: 100%;
        height: 10vh;
    }
    h2 {
        margin-top: 2vh;
        font-weight: bold;
    }
    span {
        margin-top: 8%;
        margin-left: 10%;
        display: block;
    }
    button {
        position: absolute;
        width: 80%;
        height: 2.5vh;
        bottom: 1vh;
        left: 10%;
        background-color: rgb(178, 19, 18);
        border: 1px solid grey;
        border-radius: 15px;
        color: white;
        font-weight:bold;
    }
    i {
        font-weight: bold;
    }

    .date{
        font-weight: bold;
    }
}
.freeSpots {
    color: rgb(24, 90, 7);
    font-weight:bold;
}

.flex-container{
    margin-top: 5%;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
/*@keyframes moveIn {
    0% {margin-top:-20vh;}
    100% {margin-top:4vh;}
  } */
@media only screen and (max-width: 700px) {
    .card {
        width:80vw;
        height: 40vh;
        margin-bottom: 10vh;
        button {
            height: 4vh;
        }
    }
    #headerImage {
        margin-right:auto;
        margin-left: auto;
        margin-bottom: 2vh;
        width: 50vw;
        position: relative;
    
    }
  
}
 
