html {
    color: grey;
}

.form {
    width: 20vw;
    height: 40vh;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25vh;
    padding:  1vh 1vw;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    img {
        margin:auto;
    }
    button {
        width: 15vw;
        height: 3vh;
        border:none;
        background-color: rgb(178, 19, 18);
        border: 1px grey solid;
        margin: 0 auto;
        color: white;
        font-weight: bold;

    }
    h2, label {
        margin-left:2vw;
        font-family: Arial, Helvetica, sans-serif;
    }
    input, select {
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-left: 2vw;
        width: 12vw;
        height: 2.5vh;
        color: grey;
        border: 1px solid grey;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    label {
        margin-left: 2vw;
    }
    input {
        padding-left: 5px;
        color:rgb(178, 19, 18)
    }
    h2 {
        text-align: center;
        margin-right: 2vw;
        margin-top: 2vh;
        color:rgb(178, 19, 18);
    }

}
.form>* {
    display: block;
}

.level-label {
    margin-bottom: 10%;
}

h2 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 3vh;
}

img {
    width: 70%;
    margin: 3vh 3vh 3vh 0;
}

.ktcb-error{
    color: rgb(178, 19, 18);
    font-weight: bold;
}

.registration-positive{
    color: green;
}

.registration-negative{
    color: rgb(178, 19, 18);
}
@media only screen and (max-width: 700px) {
    .form {
        width:80vw;
        input, select {
            width: 60vw;
            margin-left: 6vw;
        }
        label {
            margin-left: 6vw;
        }
        button {
            width: 70vw;
        }
    }
}

