<body>
    <div id="register" class="form" [formGroup]="myForm">
        <img src="../../../../assets/images/ktcb.png" alt="">
        <h2>Inschrijving</h2>
        <div *ngIf="registrationResult">
            <p [ngClass]="registrationResult.success ? 'registration-positive': 'registration-negative'">{{registrationResult.message}}</p>
        </div>



        <label for="Name">Voornaam + Naam</label>
        <input type="text" name="Name" formControlName="name">
        <div class="ktcb-error" *ngIf="(!myForm.get('name').valid && (myForm.get('name').touched || saved))">Naam is verplicht!</div>
        <label class="level-label" for="Niveau">Categorie: <b>Rookie</b></label>
       
        <select *ngIf="0 > 1" type="text" name="Niveau">
            <option value="volvo">xx</option>
        </select>
        <button class="registrate-button btn-1" (click)="submitForm(myForm)">Inschrijven</button>
    </div>
</body>