<header *ngIf="0 > 1" [ngClass]="isOnIndex ? 'header-image' : 'header-normal'">
    <nav>
        <ul>
            <li (click)="navigateToPage('index')">Home</li>
            <li>Info</li>
            <li>Contact</li>
            <li (click)="navigateToPage('ktcb/inschrijvingen')">Tennis</li>
            <li (click)="navigateToPage('login')">Klantenportaal</li>
        </ul>
    </nav>
    <section *ngIf="isOnIndex" id="head">
        <h2>Affordable Websites <br> With Quality Design</h2>
    </section>
</header>


<router-outlet></router-outlet>


<footer>

</footer>