

<main>
    <section id="overons">
        <h2>Over ons</h2>
        <p>
            Ik ben Maarten Vansever, CEO van Webdream.
            Sinds jaren hou ik me bezig met het ontwikkelen van websites, voor mij is dit echt een passie. Mijn
            kennis heb ik verworven tijdens mijn opleiding ‘Software Engineer’. Ik bied kwalitatieve websites aan
            voor een betaalbare prijs aan. Mijn realisaties variëren tussen eenvoudige websites tot websites met een
            webshop, voor elk wat wils.
            Hebt u behoefte aan een website, neem dan gerust met mij contact op via het mailadres <a
                href="mailto: maarten@webdream.be">maarten@webdream.be</a>
        </p>

        <img src="../../../assets/images/maarten.jpg" alt="maarten" title="maarten">

    </section>

</main>