<main>
<section id="login">
    <label for="username">Gebruikersnaam:</label>
    <input id="username" type="text">
    <label for="password">Wachtwoord:</label>
    <input id="password" type="password">
    <button>Inloggen</button>
</section>
</main>