/* colors*/
$grey: #2B2B2B;

/*----------------------BODY HTML-------------------------*/
html::-webkit-scrollbar {
    display: none;
}

body {
    background: $grey;
    font-family: Arial, Helvetica, sans-serif;
}


/*----------------------HEADER-------------------------*/
.header-image {
    background-image: url(../assets/images/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.header-normal{
    height: 10vw;
}

nav {
    padding: 2rem;
    position: fixed;
    z-index: 9;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.4);
    background-image: url(../assets/images/transparantWebdream.png);
    background-size: 12%;
    background-repeat: no-repeat;
    background-position-x: -3vw;
    background-position-y: -2vh;

    ul {
        margin-left: 5vw;
    }

    li {
        display: inline;
        color: white;
        margin-left: 1%;

        &:hover {
            background-color: rgb(255 255 255 / 7%);
            padding: 1%;
            cursor: pointer;
        }

        a {
            color: white;
        }
    }
}

#head {
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

/*----------------------MAIN-------------------------*/
/*----------------------OVER ONS---------------------*/

h2 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4vh;
}

#overons {

    h2 {
        margin-top: 10vh;
        margin-left: 10vw;
    }

    img {
        border-radius: 50%;
        float: right;
        margin-right: 5vw;
        margin-left: 75vw;
        margin-top: -20vh;
        position: absolute;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    p {
        color: white;
        margin-left: 10vw;
        line-height: 2rem;
        width: 50vw;
    }

    a {
        color: white;
        font-weight: bold;
    }
}

#login {
    color: white;
}


@media only screen and (max-width: 700px) {
    #overons {
        img {
            margin-top: -40vh;
        }
    }
}